<!DOCTYPE html>
<html>
<head>
	<title>Page1</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body background-color="white"> <!-- change background colour -->

<a href = "https://www.etsy.com/ie/shop/PaulaLovesVintage?ref=seller-platform-mcnav"> 
<img src="templates/shopbutton2.png" style="width:24.5%"></a>
<!-- create link to external website from image -->
<!-- create link to page 2 -->
<a href="/stafflogin"><img src="templates/stafflogin.png" style="width:24.5%">
</a>
<a href="stockviewer.html"><img src="templates/stock.png" style="width:24.5%">
</a>

<img src="templates/aboutus.png" style="width:24.5%">
<p>Click<a href = "/logout"> here </a>to logout
</p>
{% for message in get_flashed_messages()%}
{{message}}
{% endfor %}


<img src="templates/header4.png" alt="Header" width="1332">

</body>
</html>