<!DOCTYPE html>
<html>
<head>
	<title>Page1</title>
</head>

<body background-color="white"> <!-- change background colour -->

<a href = "https://www.etsy.com/ie/shop/PaulaLovesVintage?ref=seller-platform-mcnav"> 
<img src="templates/shopbutton2.png" style="width:25%"></a>
<!-- create link to external website from image -->
<!-- create link to page 2 -->
<a href="stockviewer.html"><img src="templates/stafflogin.png" style="width:25%">
</a>
<img src="templates/custlogin.png" style="width:25%">

<img src="templates/aboutus.png" style="width:25%">


<img src="templates/header4.png" alt="Header" width="1332">

</body>
</html>