<html>
  <head>
    <title>stafflogin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
      <div class="login">
          <h1>Login</h1>
          <div >
            <a href="{{ url_for('stafflogin') }}" class="active">Login</a>
            <a href="#">Register</a>
          </div>
          <form action="{{ url_for('stafflogin') }}" method="post">
            <label for="username">
              
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="password">
              
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Login">
          </form>
        </div>
  </body>
</html>